# Terraform/OpenTofu state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore .terraform directory (in any subdirectory)
**/.terraform/
**/.terraform.lock.hcl

# Packer specific files
packer/packer.pkrvars.hcl
*.pkrvars.hcl
packer_cache/
output-*/

# Ansible specific files
ansible/inventory/hosts_generated.yml
